# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 OpenSearch Contributors

# Helm artifacts
*.tgz
charts/
tmpcharts/

# Kubernetes output
*.log
*.out
*.pid
rendered.*

# Editor and system files
.DS_Store
*.swp
.vscode/

# Python bytecode
__pycache__/
*.pyc
